* {
  outline: none;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

/* input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
} */

#cover {
  position: absolute;
  top: 60%;
  width: 50rem;
  padding: 35px;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

input[type="text1"] {
  width: 100%;
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  color: #e16868;
}

#formsearch {
  width: 100%;
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  color: #e16868;
}

input[type="text1"]::placeholder {
  color: #e16868;
  padding: 2px;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}
