@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kalam:wght@400;700&family=Poppins:wght@300&display=swap');
body {font-family: 'Finger Paint', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Poppins', sans-serif;
font-size: 14px;}
    
:root {
    --color-rojo: #f96d5bb1;
    --color-claro-rojo: #f98879;
    --color-naranja: #F2AD9B;
    --color-claro-naranja: #ff9885;
    --color-azul-oscuro: #0F363D;
    --color-claro-azul-oscuro: #7B8F74;
    --color-verde-azulado: #97A198;
    --color-claro-verde-azulado: #398bab;
    --color-contraste: #fcfcfc;
    --color-verde-azulado-opacity-50: #388cad88;
    
}

.btn {
    background-color: var(--color-rojo);
    border-color: var(--color-naranja);
    border-radius: 4px; /* Añadir un borde redondeado */
    padding: 8px 16px; /* Espacio interno para el contenido del botón */
    color: var(--color-contraste);
    font-weight: bold; /* Hacer que el texto sea más grueso */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Agregar una transición suave al color de fondo y texto */
}

.btn:hover {
    background-color: var(--color-azul-oscuro);
    color: white !important  ;
}

.btn-primary {
    --bs-btn-color: var(--color-contraste) !important;
    --bs-btn-bg: var(--color-rojo) !important;
    --bs-btn-border-color: var(--color-rojo) !important;
    --bs-btn-hover-color: var(--color-contraste) !important;
    --bs-btn-hover-bg: var(--color-claro-rojo) !important;
    --bs-btn-hover-border-color: var(--color-naranja) !important;
    --bs-btn-focus-shadow-rgb: 249, 110, 91;
    --bs-btn-active-color: var(--color-contraste) !important;
    --bs-btn-active-bg: var(--color-claro-naranja) !important;
    --bs-btn-active-border-color: var(--color-naranja) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-contraste) !important;
    --bs-btn-disabled-bg: var(--color-rojo) !important;
    --bs-btn-disabled-border-color: var(--color-rojo) !important;
}
.fondo {
    background-color: var(--color-azul-oscuro);
}

.fondoclaro {
    background-color: var(--color-verde-azulado);
    color: #133a56;
}


.fondonaranja {
    background-color: var(--color-claro-naranja);
    border-color: var(--color-naranja);
}

body {
    color: var(--color-azul-oscuro);
}

#boton {
    background-color: var(--color-rojo);
    border-color: var(--color-naranja);
    border-radius: 10%;
}

.card-header {
    background-color: var(--color-claro-naranja);
}

.cardperfil {
    border-color: var(--color-claro-naranja);
}

.border-bottom {
    border-color: var(--color-claro-naranja);
}

a.nav-link.perfil {
    color: var(--color-contraste);
}

.text{color: #0F363D;
    text-decoration: none}

.btn-small {
    text-decoration: none;
    background-color: rgb(15, 14, 14);
    border-color: rgb(4, 4, 4);
    border-radius: 4px; /* Añadir un borde redondeado */
    padding: 2px 5px; /* Espacio interno para el contenido del botón */
    color: var(--color-contraste);
    font-weight: bold; /* Hacer que el texto sea más grueso */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Agregar una transición suave al color de fondo y texto */
}

.btn-small:hover {
    background-color: white;
    color: black!important  ;
}

.form-check-input:checked {
    background-color: var(--color-rojo); 
    border: #0F363D; 
  }

.link-perfil{ color:var(--color-rojo);
    text-decoration: none;}

.link-perfil:hover{ color:var(--color-azul-oscur) ;
    text-decoration: none}