:root {
    --color-rojo: #f96e5b;
    --color-naranja: #ff7b5d;
    --color-azul-oscuro: #133a56;
    --color-verde-azulado: #2d7895;
}

.btn {
    background-color: var(--color-rojo);
    border-color: var(--color-naranja);
}

.fondo {
    background-color: var(--color-azul-oscuro);
}

.fondoclaro {
    background-color: var(--color-verde-azulado);
}

body {
    color: var(--color-azul-oscuro);
}