/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kalam:wght@400;700&family=Poppins:wght@300&display=swap');
body {font-family: 'Finger Paint', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Poppins', sans-serif;}
    
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.module {
    margin: 0 0 1em 0;
    overflow: hidden;
}

.fa-whatsapp {
    color: #25D366;
}

.fa-facebook {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}