/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.module {
    margin: 0 0 1em 0;
    overflow: hidden;
}

.fa-whatsapp {
    color: #25D366;
}

.fa-facebook {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}