:root {
    --color-naranja1: #fca032;
    --color-naranja-potente: #dc6700;
    --color-almendra: #ead9c7;
    --color-teal: #0f7a7b;
    --color-azul: #023f59;
}

:root {
    --color-rojo: #f96e5b;
    --color-naranja: #ff7b5d;
    --color-azul-oscuro: #133a56;
    --color-verde-azulado: #2d7895;
}


#featured-1 h2,
#featured-2 h2 {
    background-color: var(--color-naranja);
}

#portada {
    margin-top: 5vh !important;
    color: var(--color-almendra);
    height: 50vh;
    margin-bottom: 10vh;
}

#portada .bg-image-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://cdn.pixabay.com/photo/2017/09/23/17/42/child-2779605_1280.jpg') center /cover !important;
    background-repeat: no-repeat !important;
    background-position-x: center;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: -1;
}

/* @media screen and (min-width:992px) {
    #portada .bg-image-overlay {
        background-position-y: -100px;
    }
}


@media screen and (min-width:1440px) {
    #portada .bg-image-overlay {
        background-position-y: -200px;
    }
} */